.s1{
margin-top: 100px;
}
.event-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: none;
    position: relative;
  }
  
  .event-container {
    width: 800px;
    background-color: #d14747;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin: 0 auto;

  }

.image{
  height: 50px;
  width: 50px;
}
