

/* pour la 1er partie de home*/

.image1 {
  background-image: url("src/assets/img3.jpg");
  background-size: cover;
  height: 750px;
  background-position: center;
  top: 0;
  left: 0;
}
.image1  h1{
  color: white;
  font-size: 50px;
  font-weight: bold;
  top: 20%;
  left: 30%;
  position: absolute;
 
}
.image1 h4{
  position: absolute;
  top: 80%;
  right: 10%;
  transform: translate(50%,50%);
  text-align: center;
  color: white;
  font-weight: bold;
}
.count{
  position: absolute;
  top: 90%;
  right: 15%;
  transform: translate(50%,50%);
  text-align: center;
  color: white;
  font-size: 50px;
  opacity: 1; /* Initial opacity */
  transition: opacity 0.5s ease;
}
/* pour la 2eme partie de home pour about us*/
.image2{

  background-image: url("src/assets/img5.jpeg");
  background-size: cover;
  height: 750px;
  background-position: center;
  top: 751px;
  left: 0;
  
}
.image2 h2{
  color: white;
  font-size: 50px;
  font-weight: bold;
  top: 850px;
  left: 30px;
  position: absolute;
}

.image2 p{
  color: white;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 1000px;
  left: 30px;
  background-color: rgba(0, 0, 0, 0.06); /* Add a semi-transparent background */
  padding: 10px; /* Add some padding for spacing */
  width: 500px; /* Set a specific width for the box */
  box-sizing: border-box; /* Include padding in the width calculation */

}
.b1{
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    font-weight: 600;

  }
  
  
  .neon-background-button{
    box-shadow: none;
    transform: translate(-80%,350%);

    
  }
  .b1:hover {
    
    box-shadow: 0 0 10px #2332ff, 0 0 20px #ff00a6;
  }


.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.about-img img {
  width: 35vw;
  border-radius: 15%;
}

.neon-background {
  box-shadow: 0 0 10px #2332ff, 0 0 20px #ff00a6;
  border-radius: 15%;
  transform: translateX(50%);

}

/*pour le 3eme partie de home pour le schedule des evenements*/

.image3{
  background-image: url("src/assets/img9.jpeg");
  background-size: cover;
  height: 750px;
  background-position: center;
  top: 800px;
  left: 0;
  
}
.image3 h1{
  position: absolute;
  top: 220%;
  left: 45%;
  color: aliceblue;
  letter-spacing: 0.1rem;

  font-weight: 600;
}
/*pour le 4eme partie de home pour la gallery des evenements*/

.image4{
  background-image: url("src/assets/img8.jpeg");
  background-size: cover;
  height: 750px;
  background-position: center;
  top: 801px;
  left: 0;
  
}
.image4 h1{
  position: absolute;
  top: 330%;
  left: 45%;
  color: aliceblue;
  letter-spacing: 0.1rem;

  font-weight: 600;
}



/* event schedule */

    .table-container {
      position: absolute;
      margin-top: 120px;
      margin-left: 100px;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(111, 61, 61, 0.611), 0 0 15px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom right, #200d33, #f2f2f2);
    height: 600px; /* Adjust this value to make the table smaller */
   
  }    
    .table {
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 5px;
      margin-top: 5px;
      height: 100%; 

    }
    
    .table th, .table td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
      vertical-align: middle;
      
    }
    
   th{
      background-color: rgb(121, 57, 250);
      height: 50px;
   }
  
   .image-container{
      width: 320px;
      height:150px ;
      background-size: cover;
     
  
  
   }
   .td1{
    color: rgb(239, 239, 239);
    font-weight:bolder;
    font-family: 'Courier New', Courier, monospace;
   }
   td{
    height: 50px;
    width: 300px;
    background-color: rgb(38, 38, 38);
    color: white;
   }
   
  