<div class="  image1" >
    <br>     <br>     <br><br>     <br>        <br>     <br>


    <h1>STAC THE FUN IN EVERY EVENT</h1>
    <h4>Coming soon</h4>
    <div id="demo" class="count"></div>

</div>
<section class="about image2">
    <div class="about-content">
      <h2>About Us</h2>
      <p>STAC Club d'Événements de notre institution! Nous sommes passionnés par l'organisation d'événements mémorables et engageants pour la communauté étudiante.<br><br>
        Notre club est bien plus qu'une simple plateforme d'organisation d'événements. C'est un lieu où les idées créatives prennent vie et où les étudiants peuvent se réunir pour partager leur enthousiasme pour des activités divertissantes et éducatives.</p><br/>
      <button (click)="onAboutUs()" class=" neon-background-button b1">Read More</button>
    </div>
    <div class="about-img neon-background">
      <img src="assets/img4.jpg">
    </div>
  </section >
<section class="image3">
<h1 >Event Schedule</h1>
<div class="table-container ">
  <table class="table table-striped table-bordered">
    <tr>
      <th>Date</th>
      <th *ngFor="let e of eventschuedule">
        {{ e.day }}
      </th>
    </tr>
    <tr *ngFor="let e of eventschuedule">
      <td>{{ e.time }} </td>
      <td class=" image-container td1" [style.background-image]="'url(' + e.image1 + ')'" > <br><br><br><br>{{e.nom1}} <br> {{e.artist1}} </td>
      <td class=" image-container td1" [style.background-image]="'url(' + e.image2 + ')'" > <br><br><br><br>{{e.nom2}} <br> {{e.artist2}} </td>
      <td class=" image-container td1" [style.background-image]="'url(' + e.image3 + ')'" > <br><br><br><br>{{e.nom3}} <br> {{e.artist3}} </td>
    </tr>
  </table>
</div>
</section>

<section class="image4">
<h1>Gallery</h1>

</section>
<app-contact></app-contact>
